<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>A Simple Calculator</title>
  <link rel="stylesheet" type="css" href="./src/app/app.component.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
  <table border="1" cellspacing="0" width="100%">
    <tr>
      <td colspan="4" id="calculatorInput"></td>
    </tr>
    <tr>
      <td colspan="3"><button (click)="clearInput()">AC</button></td>
      <td><button (click)="getButtonsValue('/')" >/</button></td>
    </tr>
    <tr>
      <td ><button (click)="getButtonsValue(7)" >7</button></td>
      <td><button (click)="getButtonsValue(8)">8</button></td>
      <td><button (click)="getButtonsValue(9)" >9</button></td>
      <td><button (click)="getButtonsValue('*')">*</button></td>
    </tr>
    <tr>
      <td><button (click)="getButtonsValue(4)">4</button></td>
      <td><button (click)="getButtonsValue(5)">5</button></td>
      <td><button (click)="getButtonsValue(6)" >6</button></td>
      <td><button (click)="getButtonsValue('-')">-</button></td>
    </tr>
    <tr>
      <td><button (click)="getButtonsValue(1)" >1</button></td>
      <td><button (click)="getButtonsValue(2)" >2</button></td>
      <td><button (click)="getButtonsValue(3)">3</button></td>
      <td><button (click)="getButtonsValue('+')">+</button></td>
    </tr>
    <tr>
      <td colspan="2"><button (click)="getButtonsValue(0)">0</button></td>
      <td><button (click)="getButtonsValue('.')">.</button></td>
      <td><button (click)="evaluate()">=</button></td>
    </tr>
  </table>
</div>
</body>
</html>
